{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
<div class="container rounded shadow mt-3 p-2 alert-primary">
    {% if app.user %}
        <a href="{{path('add_article')}}" class="btn btn-warning shadow btn-lg btn-block"><i class="far fa-plus-square mr-2"></i>Ajouter un article</a>
    {% endif %}
    <h3 class="display-4 text-center">Voici les articles</h3>

<div class="row">
  
        {% for art in articles %}
        <div class="col-sm-4">
       
            <div class="card shadow mt-3">
                <a href="{{path('article_detail', {'article' : art.id})}}" ><img src="{{ asset('images/' ~ art.image) }}" class="card-img-top" alt="{{art.title}}"></a>
                <div class="card-body">
                    <h5 class="card-title">{{art.title}}</h5>
                    <p class="card-text">{{art.description}}</p>
                    <a href="{{path('article_detail', {'article' : art.id})}}" class="btn btn-primary shadow"><i class="fas fa-eye mr-2"></i>Détail</a>
                    {% if app.user %}
                    <a href="{{path('article_delete', {'article' : art.id})}}" class="shadow m-1 btn btn-danger"><i class="far fa-trash-alt mr-2"></i>Supprimer</a>
                    {% endif %}
                </div>
            </div>
        </div> 
        {% endfor %}
    
</div>  
</div> 

{% endblock %}
